<!-- SECTION HEADER -->
<section class="section-small-heading" style="background-image: url(../img/poonhill.jpeg);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text">Partiu mundão?</h1>
        <h3 class="index-text">Se inscreva e faça parte da nossa comunidade</h3>
    </div>
</section>

<section class="section-signup">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 py-3 my-3">
                 <!-- message if error -->
                <% if (messages.error) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Erro!</strong> <%= messages.error %>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>
                <form action="/user/signup" method="POST" enctype="multipart/form-data">
                    <!-- first name -->
                    <div class="form-floating mb-3">
                        <input type="text" name="firstName" class="form-control" id="firstNameInput" placeholder="Nome" value="<%= formData ? formData.firstName : '' %>">
                        <label for="firstNameInput">Nome *</label>
                    </div>
                    <!-- last name -->
                    <div class="form-floating mb-3">
                        <input type="text" name="lastName" class="form-control" id="lastNameInput" placeholder="Sobrenome" value="<%= formData ? formData.lastName : '' %>">
                        <label for="lastNameInput">Sobrenome *</label>
                    </div>
                    <!-- email -->
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="emailInput" placeholder="Email" value="<%= formData ? formData.email : '' %>">
                        <label for="emailInput">Email *</label>
                    </div>
                    <!-- username -->
                    <div class="form-floating mb-3">
                        <input type="text" name="username" class="form-control" id="usernameInput" placeholder="Email" value="<%= formData ? formData.username : '' %>">
                        <label for="usernameInput">Usuário *</label>
                    </div>
                    <!-- password -->
                    <div class="form-floating mb-3 position-relative">
                        <input type="password" name="password" class="form-control" id="passwordInput" placeholder="Senha">
                        <label for="passwordInput">Senha *</label>
                        <i class="fa-regular fa-eye password-toggle"></i>

                    </div>
                     <!-- confirm password -->
                     <div class="form-floating mb-3 position-relative">
                        <input type="password" name="confirmPassword" class="form-control" id="confirmPasswordInput" placeholder="Senha">
                        <label for="confirmPasswordInput">Confirme a senha *</label>
                        <i class="fa-regular fa-eye password-toggle"></i>
                    </div>
                    <!-- profile picture -->
                    <div class="form-floating mb-3">
                        <input type="file" name="profilePicture" class="form-control" id="profilePictureInput" placeholder="URL da foto de perfil">
                        <label for="profilePictureInput">Foto de perfil (não obrigatório).</label>
                    </div>
                    <!-- user bio -->
                    <div class="form-floating mb-3 position-relative">
                        <textarea name="userBio" class="form-control" id="userBioInput" placeholder="Fale um pouco sobre você" style="height: 100px" value="<%= formData ? formData.userBio : '' %>"></textarea>
                        <label for="userBioInput">Fale um pouco sobre você (Não obrigatório).</label>
                        <div id="counter">0/150</div>
                    </div>
                    <!-- newsletter subscription -->
                    <div class="form-check mb-3 px-5">
                        <input class="form-check-input" type="checkbox" value="on" id="newsletterCheck" name="newsletter" checked>
                        <label class="form-check-label" for="newsletterCheck">
                            Eu quero receber novidades do Manual da Gringa
                        </label>
                    </div>
                    <!-- submit button -->
                    <div class="submit-button text-center mb-3">
                        <button type="submit" class="btn btn-custom">Inscrever-se</button>
                    </div>
                    <!-- link to login -->
                    <div class="text-center">
                        <a href="/user/login">Já tem uma conta? Faça login <span style="color: red;">aqui</span>.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>