<!-- SECTION HEADER -->
<section class="section-small-heading" style="background-image: url(../img/sydney-cover.jpg);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text">Não era o que estava procurando?</h1>
        <!-- search form -->
        <div class="search-nav">
            <form action="/search" method="GET" class="d-flex px-4 py-3">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Busca no fórum">
                    <button class="btn btn-light search-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- SECTION FORUM -->
<section class="section-main">
    <div class="container">
        <div class="row">
            <!-- LEFT SIDE (posts)-->
            <div class="col-md-9 mt-3 py-3">
                <!-- discussion tags -->
                <ul class="p-3 rounded discussion-details-tags d-flex justify-content-center">
                    <% tags.forEach(tag => { %>
                        <li class="list-group-item bg-light d-flex align-items-center m-1 px-3 py-2 rounded border"><a href="/forum/tag/<%= tag %>"> <%= tag %> </a></li>
                    <% }) %>
                </ul>
                <!-- card with discussion details and answers -->
                <div class="card">
                    <div class="card-body p-4">                    
                        <div class="row">
                            <div class="col">
                                <!-- discussion title-->
                                <h4 class="section-title text-center mb-3"><%= discussion.title %></h4>
                                <!-- card with comments -->
                                <div class="d-flex flex-start comments-container">
                                    <!-- author photo -->
                                    <img class="rounded-circle shadow-1-strong me-3"
                                        src="<%= discussion.author_img %>" 
                                        alt="avatar" 
                                        width="65"
                                        height="65" 
                                    />
                                    <div class="flex-grow-1 flex-shrink-1">
                                        <div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div>
                                                    <!-- author -->
                                                    <span class="mb-1 author">
                                                        <%= discussion.author_username %>
                                                    </span>
                                                    <!-- date -->
                                                    <span class="small d-block comment-time text-secondary"><%= discussion.created_at %></span>
                                                </div>         
                                                <!-- edit discussion button -->
                                                <a href="/forum/edit-discussion/<%= discussion.slug %>" class="btn btn-link text-secondary edit-discussion"> Editar </a>                                      
                                                <!-- delete discussion button -->
                                                <form action="/forum/delete-discussion" method="POST">
                                                    <input type="hidden" name="discussionId" value="<%= discussion.id %>">
                                                    <button type="submit" class="btn btn-link text-danger"> Delete </button>
                                                </form>
                                            </div>
                                            <!-- content -->
                                            <p class="small my-2">
                                                <%- discussion.content %>
                                            </p>
                                            <!-- check if user is logged in to see like/dislike -->
                                                <!-- like and dislike buttons -->
                                                <div class="d-flex justify-content-start align-items-center mt-2">
                                                    <!-- like/undo like -->
                                                    <div class="like p-2 cursor">
                                                        <form class="like-comment-form">
                                                            <input type="hidden" name="commentId" value="">
                                                            <button type="submit" class="button-as-icon">
                                                                    <i class="fa-solid fa-heart like-icon"></i>
                                                                    <i class="fa-regular fa-heart like-icon"></i>
                                                            </button>
                                                            <span class="ml-1 small total-comment-likes">(10)</span>
                                                        </form>                                                                                                                                                                                       
                                                    </div>
                                                    <!-- dislike -->
                                                    <div class="dislike p-2 cursor">
                                                        <form class="dislike-comment-form">
                                                            <input type="hidden" name="commentId" value="">
                                                            <button type="submit" class="button-as-icon">
                                                                    <i class="fa-solid fa-thumbs-down dislike-icon"></i>
                                                                    <i class="fa-regular fa-thumbs-down dislike-icon"></i>
                                                            </button>
                                                            <span class="ml-1 small total-comment-dislikes">(10)</span>
                                                        </form>                                                                                                                                                                                       
                                                    </div>
                                                </div>
                                        </div>
                                        <!-- Replies -->
                                            <div class="d-flex flex-start mt-4 bg-light p-2 rounded">
                                                <a class="me-3" href="#">
                                                    <!-- author photo -->
                                                <img class="rounded-circle shadow-1-strong"
                                                    src="img/marcus_1.jpg" alt="avatar"
                                                    width="65" height="65" />
                                                </a>
                                                <!-- reply -->
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    <div>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div>
                                                                <!-- author -->
                                                                <span class="mb-1 author">
                                                                    Paulo
                                                                </span>
                                                                <!-- date -->
                                                                <span class="small d-block comment-time text-secondary">10/01/2002</span>
                                                            </div>
                                                            <!-- delete comment button -->
                                                                <!-- delete comment button -->
                                                                <a href="#" class="btn btn-link text-danger delete-reply"> Delete </a>
                                                            </div>
                                                        <!-- comment -->
                                                        <p class="small my-2">
                                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, accusantium officiis? Excepturi mollitia temporibus eveniet iste aliquam, culpa, iure tenetur ipsum voluptates molestiae ab tempora recusandae omnis rem fugit veritatis perferendis alias reprehenderit dicta facilis? Autem consequatur earum, tempora minus dicta, quasi quis, quaerat rem quam velit accusamus architecto quos.
                                                        </p>
                                                        <!-- like and dislike buttons -->
                                                        <!-- check if user is logged in to see like/dislike -->
                                                            <!-- like and dislike buttons -->
                                                            <div class="d-flex justify-content-start align-items-center mt-2">
                                                                <!-- like/undo like -->
                                                                <div class="like-reply p-2 cursor">
                                                                    <form class="like-reply-form">
                                                                        <input type="hidden" name="replyId" value="">
                                                                        <button type="submit" class="button-as-icon">
                                                                                <i class="fa-solid fa-heart like-icon"></i>
                                                                                <i class="fa-regular fa-heart like-icon"></i>
                                                                        </button>
                                                                        <span class="ml-1 small total-reply-likes">(10)</span>
                                                                    </form>                                                                                                                                                                                       
                                                                </div>
                                                                <!-- dislike -->
                                                                <div class="dislike-reply p-2 cursor">
                                                                    <form class="dislike-reply-form">
                                                                        <input type="hidden" name="replyId" value="">
                                                                        <button type="submit" class="button-as-icon">
                                                                                <i class="fa-solid fa-thumbs-down dislike-icon"></i>
                                                                                <i class="fa-regular fa-thumbs-down dislike-icon"></i>
                                                                        </button>
                                                                        <span class="ml-1 small total-reply-dislikes">(10)</span>
                                                                    </form>                                                                                                                                                                                       
                                                                </div>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>       
                                        <!-- Reply textarea and submit button -->
                                        <div class="mt-3 position-relative">
                                            <form id="replyForm">
                                                <!-- hidden input for the comment ID -->
                                                <input type="hidden" name="commentId" value="">
                                                <!-- reply text area -->
                                                <textarea class="form-control reply-textarea" name="reply" rows="2" placeholder="Responda aqui..."></textarea>
                                                <button class="btn btn-custom comment-button btn-sm mt-2 float-end" type="submit">Enviar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <hr>                                          
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container mb-3 p-3">
                    <h3>Outras discussões sobre: <a href="/forum/country/<%= discussion.country %>">
                        <%= discussion.country %>
                    </a></h3>
                </div>
            </div>
            <!-- RIGHT SIDE (categories, subscribe, search and about)-->
            <div class="col-md-3 mt-3 py-3">
                <h2 class="section-title text-center">Tem alguma dúvida?</h2>
                <div class="post-question my-3 py-3">
                    <a href="/forum/new-question" class="btn btn-custom w-100">Postar uma pergunta <i class="fa-solid fa-plus ms-3"></i></a>
                </div>
                <hr class="w-80">
                <!-- search -->
                <h2 class="section-title text-center">Busca rápida:</h2>
                <div class="search my-3 py-3">
                    <form action="/search" class="shadow rounded" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Busca rápida">
                            <button class="btn btn-light go-button" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <hr class="w-80">
                <!-- tags -->
                <h2 class="section-title text-center">Tópicos quentes:</h2>
                <ul class="p-3 rounded hot-discussion-tags">
                    <% hotTags.forEach(tag => { %>
                        <li class="list-group-item bg-light d-flex align-items-center m-1 px-3 py-2 rounded border shadow"><a href="/forum/tag/<%= tag %>"> <%= tag %> </a></li>
                    <% }) %>
                </ul>
                <hr class="w-80">
                <!-- top trending -->
                <h2 class="section-title text-center">Países em alta:</h2>
                <div class="top-trendings my-3 py-3">                    
                    <% countries.forEach(country => { %>                    
                        <a href="/forum/country/<%= country %>" class="countries-link">
                            <p class="text-center"> <%= country %> </p>
                        </a>
                    <% }) %>                               
                </div>
                <hr class="w-80">
                <!-- subscribe -->
                <h2 class="section-title text-center">Newsletter:</h2>
                <div class="subscribe my-3 py-3">
                    <!-- success message -->
                    <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
                        <span id="success-message"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <!-- error message -->
                    <div id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                        <span id="error-message"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <!-- form -->
                    <form id="subscribeForm" action="/user/subscribe" method="POST" class="shadow rounded">
                        <div class="input-group">                            
                            <input type="email" name="email" class="form-control" placeholder="Se inscreva aqui">
                            <button type="submit" class="btn btn-light go-button">
                                <i class="fa-regular fa-envelope"></i>
                            </button>
                        </div>
                        <!-- hidden input for the URL -->
                        <input type="hidden" name="redirect" value="<%= req.originalUrl %>">
                    </form>
                </div>
               
            </div>
        </div>
    </div>
</section>