<!-- SECTION HEADER -->
<section class="section-heading" style="background-image: url(../img/oceania-cover.jpg);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text">O que você está procurando?</h1>
        <!-- search form -->
        <div class="search-nav">
            <form action="#" method="GET" class="d-flex px-4 py-3">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Busca rápida no fórum">
                    <button class="btn btn-light search-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- SECTION FORUM -->
<section class="section-main">
    <div class="container">
        <div class="row">
            <!-- LEFT SIDE (posts)-->
            <div class="col-md-9 mt-3 py-3">
                <h2 class="section-title text-center">Bombando no Fórum</h2>
                <!-- list with questions and info -->
                <ul class="list-group mb-3">
                    <!-- check if there are discutions -->
                    <% if (discussions && discussions.length > 0) { %>
                        <% discussions.forEach(discussion => { %>
                            <li class="list-group-item forum-questions d-flex">
                                <div class="forum-author-image p-2">
                                    <img src="<%= discussion.author_img %>" alt="">
                                </div>
                                <div class="forum-question p-2">
                                    <!-- link to the discussion details -->
                                    <a href="/forum/discussion/<%= discussion.slug %>">
                                        <h6><%= discussion.title %></h6>
                                    </a>
                                    <p class="small text-secondary">Por <strong><%= discussion.author_username %></strong>, <strong class="comment-time"><%= discussion.created_at %></strong>
                                    </p>
                                </div>
                                <div class="forum-category p-2">
                                   <p class="text-secondary"><%= discussion.country %></p>
                                </div>
                                <div class="forum-reactions p-2">
                                    <div class="forum-reaction text-body-secondary">
                                        <i class="fa-regular fa-thumbs-up like-icon"></i>
                                        <span class="mx-1">(100)</span>
                                        <i class="fa-regular fa-thumbs-down dislike-icon"></i>
                                        <span class="mx-1">(10)</span>
                                        <br>
                                        <i class="fa-regular fa-comment-dots"></i>
                                        <span class="mx-1">(10)</span>
                                        <i class="fa-regular fa-eye"></i>
                                        <span class="mx-1">(723)</span>
                                    </div>
                                </div>
                            </li>
                        <% }) %>
                    <% } else { %>
                        <p class="p-3">Nenhuma discussão aberta no fórum</p>
                    <% } %>
                </ul>
            </div>
            <!-- RIGHT SIDE (new discussion, hot topics, hot places, subscribe, search)-->
            <div class="col-md-3 mt-3 py-3">
                <!-- new discussion -->
                <h2 class="section-title text-center">Tem alguma dúvida?</h2>
                <div class="post-question my-3 py-3">
                    <a href="/forum/new-question" class="btn btn-custom w-100">Postar uma pergunta <i class="fa-solid fa-plus ms-3"></i></a>
                </div>
                <hr class="w-80">
                <!-- search -->
                <h2 class="section-title text-center">Busca rápida:</h2>
                <div class="search my-3 py-3">
                    <form action="/blog/search" class="shadow rounded" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Busca rápida">
                            <button class="btn btn-light go-button" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <hr class="w-80">
                <!-- tags -->
                <h2 class="section-title text-center">Tópicos quentes:</h2>
                <ul class="p-3 rounded hot-discussion-tags">
                    <li class="list-group-item bg-light d-flex align-items-center m-1 px-3 py-2 rounded border shadow"><a href="#">Visto estudante</a></li>
                    <li class="list-group-item bg-light d-flex align-items-center m-1 px-3 py-2 rounded border shadow"><a href="#">Alugueis</a></li>
                    <li class="list-group-item bg-light d-flex align-items-center m-1 px-3 py-2 rounded border shadow"><a href="#">Renovação de visto</a></li>
                </ul>
                <hr class="w-80">
                <!-- top trending -->
                <h2 class="section-title text-center">Discussões em alta:</h2>
                <div class="top-trendings my-3 py-3">                    
                    <a href="#">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, mollitia. Facere officia optio rerum magni!</p>
                    </a>
                    <a href="#">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, mollitia. Facere officia optio rerum magni!</p>
                    </a>
                    <a href="#">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, mollitia. Facere officia optio rerum magni!</p>
                    </a>
                    <a href="#">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, mollitia. Facere officia optio rerum magni!</p>
                    </a>
                    <a href="#">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, mollitia. Facere officia optio rerum magni!</p>
                    </a>                                  
                </div>
                <hr class="w-80">
                <!-- subscribe -->
                <h2 class="section-title text-center">Newsletter:</h2>
                <div class="subscribe my-3 py-3">
                    <!-- success message -->
                    <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
                        <span id="success-message"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <!-- error message -->
                    <div id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                        <span id="error-message"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <!-- form -->
                    <form id="subscribeForm" action="/user/subscribe" method="POST" class="shadow rounded">
                        <div class="input-group">                            
                            <input type="email" name="email" class="form-control" placeholder="Se inscreva aqui">
                            <button type="submit" class="btn btn-light go-button">
                                <i class="fa-regular fa-envelope"></i>
                            </button>
                        </div>
                        <!-- hidden input for the URL -->
                        <input type="hidden" name="redirect" value="<%= req.originalUrl %>">
                    </form>
                </div>
               
            </div>
        </div>
    </div>
</section>