<!-- SECTION HEADER -->
<section class="section-small-heading" style="background-image: url(../img/sydney-cover.jpg);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text">Não era o que estava procurando?</h1>
        <!-- search form -->
        <div class="search-nav">
            <form action="/search" method="GET" class="d-flex px-4 py-3">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Busca rápida no fórum">
                    <button class="btn btn-light search-button" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>

<!-- SECTION FORUM -->
<section class="section-main">
    <div class="container">
        <div class="row">
            <!-- LEFT SIDE (posts)-->
            <div class="col-md-9 mt-3 py-3">
                <h2 class="section-title text-center">Bombando no Fórum</h2>
                <!-- list with questions and info -->
                <ul class="list-group mb-3">
                    <!-- check if there are discutions -->
                    <% if (discussions && discussions.length > 0) { %>
                        <% discussions.forEach(discussion => { %>
                            <li class="list-group-item forum-questions d-flex">
                                <div class="forum-author-image p-2">
                                    <img src="<%= discussion.author_img %>" alt="">
                                </div>
                                <div class="forum-question p-2">
                                    <!-- link to the discussion details -->
                                    <a href="/forum/discussion/<%= discussion.slug %>">
                                        <h6><%= discussion.title %></h6>
                                    </a>
                                    <p class="small text-secondary">Por <strong><%= discussion.author_username %></strong>, <span class="comment-time"><%= discussion.created_at %></span>
                                    </p>
                                </div>
                                <div class="forum-category p-2">
                                    <a href="/forum/country/<%= discussion.country %>">
                                        <p class="text-secondary"><%= discussion.country %></p>
                                    </a>
                                </div>
                                <div class="forum-reactions p-2">
                                    <div class="forum-reaction text-body-secondary">
                                        <i class="fa-regular fa-thumbs-up like-icon"></i>
                                        <span class="mx-1">(<%= discussion.like_count %>)</span>
                                        <i class="fa-regular fa-thumbs-down dislike-icon"></i>
                                        <span class="mx-1">(<%= discussion.dislike_count %>)</span>
                                        <br>
                                        <i class="fa-regular fa-comment-dots"></i>
                                        <span class="mx-1">(<%= discussion.reply_count %>)</span>
                                        <i class="fa-regular fa-eye"></i>
                                        <span class="mx-1">(<%= discussion.view_count %>)</span>
                                    </div>
                                </div>
                            </li>
                        <% }) %>
                    <% } else { %>
                        <p class="p-3">Nenhuma discussão aberta no fórum</p>
                    <% } %>
                </ul>
            </div>
            <!-- RIGHT SIDE (categories, subscribe, search and about)-->
            <div class="col-md-3 mt-3 py-3">
                <h2 class="section-title text-center">Tem alguma dúvida?</h2>
                <div class="post-question my-3 py-3">
                    <a href="/forum/new-question" class="btn btn-custom w-100">Postar uma pergunta <i class="fa-solid fa-plus ms-3"></i></a>
                </div>
                <hr>
                <!-- include side bar -->
                <%- include('../main/side-bar.ejs') %>      
            </div>
        </div>
    </div>
</section>