<!-- SECTION HEADER -->
<section class="section-heading" style="background-image: url(../img/GOPR1432.JPG);">
    <!-- text on landing page -->
    <div class="landing-page">
         <!-- message if success -->
         <% if (messages.success) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Oba!</strong> <%= messages.success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <!-- message if error -->
        <% if (messages.error) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Até mais!</strong> <%= messages.error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <h1 class="index-text">Manual da Gringa</h1>
        <h3 class="index-text">Partiu Mundão?</h3>
        <!-- scrollspy -->
        <a class="index-scroll" href="#scrollspyHeading1">
            <i class="fa-solid fa-circle-down fa-xl" id="landing-icon"></i>
        </a>        
    </div>
</section>

<!-- SECTION BLOG -->
<section class="section-main" data-bs-spy="scroll" data-bs-target="#navbar-example2">
    <div class="container">
        <div class="row">
            <!-- LEFT SIDE (posts)-->
            <div class="col-md-9 mt-3 py-3" id="scrollspyHeading1">
                <!-- blog posts -->
                <h2 class="section-title mb-3">Últimos Posts:</h2>
                <% if(posts && posts.length > 0) { %>
                <div class="blog-posts mb-3">
                    <% posts.forEach(post => { %>
                        <a href="/blog/post/<%= post.slug %>">
                            <!-- card with posts -->
                            <div class="card col-md-8 offset-md-2 col-lg-12 offset-lg-0 mb-3 card-custom">
                                <div class="row g-0">
                                <div class="col-md-12 col-lg-4">
                                    <!-- post image -->
                                    <img src="<%= post.img_background %>" class="img-fluid shadow rounded img-custom" alt="Foto de capa do artigo">
                                </div>
                                <div class="col-md-12 col-lg-8 card-container">
                                    <div class="card-body">
                                        <!-- post category, title, intro -->
                                        <h6 class="card-title card-category"><%= post.category_name %></h6>
                                        <h5 class="card-text card-title-h5"><%= post.title %></h5>
                                        <p class="card-text intro d-md-none d-lg-none d-xl-block "><%= post.intro %></p>
                                    </div>
                                    <hr class="mb-0">
                                    <div class="card-details text-center py-2">
                                        
                                        <!-- post date, author and read more -->
                                        <div class="row">
                                            <div class="col-4">
                                                <p class="card-text"><small class="text-body-secondary">
                                                    <i class="fa-solid fa-pen-to-square fa-xl"></i> <strong>Marquinhos</strong></small>
                                                </p>
                                            </div>
                                            <div class="col-4">
                                                <% if (post.updated_at) { %>
                                                    <p class="card-text">
                                                        <small class="text-body-secondary">
                                                            <i class="fa-solid fa-calendar-check fa-xl"></i>
                                                            <span class="post-time"><%= post.updated_at %></span>
                                                        </small>
                                                    </p>
                                                <% } else { %>
                                                    <p class="card-text"><small class="text-body-secondary">
                                                        <i class="fa-solid fa-calendar-check fa-xl"></i>  <%= post.created_at.toLocaleDateString('pt-BR') %></small>
                                                    </p>
                                                <% } %>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-custom btn-sm">
                                                    <i class="fa-solid fa-arrow-right-long"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </a> 
                    <% }) %>
                    <!-- link to blog home page -->
                    <div class="container mb-3 d-flex justify-content-end">
                        <a href="/blog" class="btn btn-custom">Todos os posts <i class="fa-solid fa-arrow-right-long ms-3"></i></a>
                    </div>                   
                </div>
                <% } %>
                <!-- parallax -->
                <div class="parallax-container mb-3">
                    <div class="parallax-image" id="parallax-1"></div>
                    <div class="parallax-text">
                        <h1 id="parallax-text">Partiu mundão !?</h1>
                    </div>
                </div>
                <!-- forum discussions -->
                <div class="container">
                    <h2 class="section-title mb-3">Bombando no Fórum:</h2>
                    <!-- list with questions and info -->
                    <ul class="list-group mb-3">
                        <!-- check if there are discutions -->
                        <% if (discussions && discussions.length > 0) { %>
                            <% discussions.forEach(discussion => { %>
                                <li class="list-group-item forum-questions d-flex">
                                    <div class="forum-author-image p-2">
                                        <img src="<%= discussion.author_img %>" alt="">
                                    </div>
                                    <div class="forum-question p-2">
                                        <!-- link to the discussion details -->
                                        <a href="/forum/discussion/<%= discussion.slug %>">
                                            <h6><%= discussion.title %></h6>
                                        </a>
                                        <p class="small text-secondary">Por <strong><%= discussion.author_username %></strong>, <span class="comment-time"><%= discussion.created_at %></span>
                                        </p>
                                    </div>
                                    <div class="forum-category p-2">
                                        <a href="/forum/country/<%= discussion.country %>">
                                            <p class="text-secondary"><%= discussion.country %></p>
                                        </a>
                                    </div>
                                    <div class="forum-reactions p-2">
                                        <div class="forum-reaction text-body-secondary">
                                            <i class="fa-regular fa-thumbs-up like-icon"></i>
                                            <span class="mx-1">(<%= discussion.like_count %>)</span>
                                            <i class="fa-regular fa-thumbs-down dislike-icon"></i>
                                            <span class="mx-1">(<%= discussion.dislike_count %>)</span>
                                            <br>
                                            <i class="fa-regular fa-comment-dots"></i>
                                            <span class="mx-1">(<%= discussion.reply_count %>)</span>
                                            <i class="fa-regular fa-eye"></i>
                                            <span class="mx-1">(<%= discussion.view_count %>)</span>
                                        </div>
                                    </div>
                                </li>
                            <% }) %>
                        <% } else { %>
                            <p class="p-3">Nenhuma discussão aberta no fórum</p>
                        <% } %>
                    </ul>
                    <!-- link to blog home page -->
                    <div class="container mb-3 d-flex justify-content-end">
                        <a href="/forum" class="btn btn-custom">Todas as discussões <i class="fa-solid fa-arrow-right-long ms-3"></i></a>
                    </div>
                </div>
            </div>
            <!-- RIGHT SIDE (categories, subscribe, search and about)-->
            <div class="col-md-3 mt-3 py-3">
                <%- include('../main/side-bar.ejs') %>                
            </div>
        </div>
    </div>
</section>