<!-- SECTION HEADER -->
<section class="section-heading" style="background-image: url(../img/GOPR1432.JPG);">
    <!-- text on landing page -->
    <div class="landing-page">
         <!-- message if success -->
         <% if (messages.success) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Oba!</strong> <%= messages.success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <!-- message if error -->
        <% if (messages.error) { %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Até mais!</strong> <%= messages.error %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        <% } %>
        <h1 class="index-text">Visto Férias Trabalho</h1>
        <h3 class="index-text">Partiu Mundão?</h3>
        <i class="fa-solid fa-circle-down fa-xl" id="landing-icon"></i>
    </div>
</section>

<!-- SECTION BLOG -->
<section class="section-main">
    <div class="container">
        <div class="row">
            <!-- LEFT SIDE (posts)-->
            <div class="col-md-9 mt-3 py-3">
                <h2 class="section-title">Últimos Posts:</h2>
                <% if(posts && posts.length > 0) { %>
                <div class="blog-posts my-3">
                    <% posts.forEach(post => { %>
                        <a href="/blog/post/<%= post.slug %>">
                            <!-- card with posts -->
                            <div class="card col-md-8 offset-md-2 col-lg-12 offset-lg-0 mb-3 card-custom">
                                <div class="row g-0">
                                <div class="col-md-12 col-lg-4">
                                    <!-- post image -->
                                    <img src="<%= post.img_background %>" class="img-fluid shadow rounded img-custom" alt="Foto de capa do artigo">
                                </div>
                                <div class="col-md-12 col-lg-8 card-container">
                                    <div class="card-body">
                                        <!-- post category, title, intro -->
                                        <h6 class="card-title card-category"><%= post.category_name %></h6>
                                        <h5 class="card-text card-title-h5"><%= post.title %></h5>
                                        <p class="card-text intro d-md-none d-lg-none d-xl-block "><%= post.intro %></p>
                                    </div>
                                    <hr class="mb-0">
                                    <div class="card-details text-center py-2">
                                        
                                        <!-- post date, author and read more -->
                                        <div class="row">
                                            <div class="col-4">
                                                <p class="card-text"><small class="text-body-secondary">
                                                    <i class="fa-solid fa-pen-to-square fa-xl"></i> <strong>Marquinhos</strong></small>
                                                </p>
                                            </div>
                                            <div class="col-4">
                                                <% if (post.updated_at) { %>
                                                    <p class="card-text">
                                                        <small class="text-body-secondary">
                                                            <i class="fa-solid fa-calendar-check fa-xl"></i>
                                                            <span class="post-time"><%= post.updated_at %></span>
                                                        </small>
                                                    </p>
                                                <% } else { %>
                                                    <p class="card-text"><small class="text-body-secondary">
                                                        <i class="fa-solid fa-calendar-check fa-xl"></i>  <%= post.created_at.toLocaleDateString('pt-BR') %></small>
                                                    </p>
                                                <% } %>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-custom btn-sm">
                                                    <i class="fa-solid fa-arrow-right-long"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </a> 
                    <% }) %>                   
                </div>
                <% } %>
            </div>
            <!-- RIGHT SIDE (categories, subscribe, search and about)-->
            <div class="col-md-3 mt-3 py-3">
                <!-- categories -->
                <h2 class="section-title text-center">Categorias:</h2>
                <div class="categories my-3 py-3">
                    <ul class="list-group shadow">
                        <% categories.forEach(category => { %>
                            <a href="/blog/category/<%= category.id %>">
                                <li class="list-group-item"><%= category.category %></li>
                            </a>
                        <% }) %>
                    </ul>
                </div>
                <hr class="w-80">
                <!-- search -->
                <h2 class="section-title text-center">Busca rápida:</h2>
                <div class="search my-3 py-3">
                    <form action="/blog/search" class="shadow rounded" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Busca rápida">
                            <button class="btn btn-light go-button" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <hr class="w-80">
                <!-- subscribe -->
                <h2 class="section-title text-center">Newsletter:</h2>
                <div class="subscribe my-3 py-3">
                    <!-- success message -->
                    <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
                        <span id="success-message"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <!-- error message -->
                    <div id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                        <span id="error-message"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <!-- form -->
                    <form id="subscribeForm" action="/user/subscribe" method="POST" class="shadow rounded">
                        <div class="input-group">
                            <input type="email" name="email" class="form-control" placeholder="Se inscreva aqui">
                            <button type="submit" class="btn btn-light go-button">
                                <i class="fa-regular fa-envelope"></i>
                            </button>
                        </div>
                         <!-- hidden input for the URL -->
                         <input type="hidden" name="redirect" value="<%= req.originalUrl %>">
                    </form>
                </div>
                <hr class="w-80">
                <!-- about -->
                <h2 class="section-title text-center">Sobre:</h2>
                <div class="about my-3 py-3 text-center">
                    <img src="/img/marcus_1.jpg" class="img-fluid rounded shadow mb-3" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus suscipit optio ad voluptatem ea amet, ex architecto est fuga fugiat?</p>
                </div>
            </div>
        </div>
    </div>
</section>