<!-- SECTION HEADER -->
<section class="section-heading" style="background-image: url(../img/GOPR1432.JPG);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text">Visto Férias Trabalho</h1>
        <h3 class="index-text">Partiu Mundão?</h3>
        <i class="fa-solid fa-circle-down fa-xl" id="landing-icon"></i>
    </div>
</section>

<!-- SECTION BLOG -->
<section class="section-main">
    <div class="container">
        <div class="row">
            <!-- LEFT SIDE (posts)-->
            <div class="col-md-9 mt-3 py-3">
                <h2 class="section-title">Últimos Posts:</h2>
                <div class="blog-posts my-3">
                    <% posts.forEach(post => { %>
                        <a href="/blog/post/<%= post.slug %>">
                            <!-- card with posts -->
                            <div class="card mb-3">
                                <div class="row g-0">
                                <div class="col-md-4">
                                    <!-- post image -->
                                    <img src="<%= post.img_background %>" class="img-fluid shadow rounded" alt="Foto de capa do artigo">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <!-- post category, title, intro -->
                                    <h6 class="card-title"><%= post.category_name %></h6>
                                    <h5 class="card-text"><%= post.title %></h5>
                                    <p class="card-text"><%= post.intro %></p>
                                    </div>
                                    <div class="card-details py-3">
                                        <!-- post date, author and read more -->
                                        <div class="row text-center">
                                            <div class="col-4">
                                                <p class="card-text"><small class="text-body-secondary">Por: <strong>Marquinhos</strong></small></p>
                                            </div>
                                            <div class="col-4">
                                                <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                                            </div>
                                            <div class="col-4">
                                                <button class="btn btn-primary">Leia Mais</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </a> 
                    <% }) %>                   
                </div>
            </div>
            <!-- RIGHT SIDE (categories, subscribe, search and about)-->
            <div class="col-md-3 mt-3 py-3">
                <!-- categories -->
                <h2 class="section-title text-center">Categorias:</h2>
                <div class="categories my-3 py-3">
                    <ul class="list-group">
                        <li class="list-group-item">Category</li>
                        <li class="list-group-item">Category</li>
                        <li class="list-group-item">Category</li>
                        <li class="list-group-item">Category</li>
                        <li class="list-group-item">Category</li>
                      </ul>
                </div>
                <!-- search -->
                <h2 class="section-title text-center">Busca rápida:</h2>
                <div class="search my-3 py-3">
                    <form action="">
                        <input type="text" class="form-control" placeholder="Search...">
                        <button class="btn btn-primary mt-2">Search</button>
                    </form>
                </div>
                <!-- subscribe -->
                <h2 class="section-title text-center">Subscribe:</h2>
                <div class="subscribe my-3 py-3">
                    <form action="">
                        <input type="email" class="form-control" placeholder="Your email...">
                        <button class="btn btn-primary mt-2">Subscribe</button>
                    </form>
                </div>
                <!-- about -->
                <h2 class="section-title text-center">Sobre:</h2>
                <div class="about my-3 py-3 text-center">
                    <img src="/img/marcus_1.jpg" class="img-fluid rounded shadow mb-3" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus suscipit optio ad voluptatem ea amet, ex architecto est fuga fugiat?</p>
                </div>
            </div>
        </div>
    </div>
</section>