<!-- SECTION HEADER -->
<section class="section-small-heading" style="background-image: url(../img/sydney-cover.jpg);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text">Resultados da busca</h1>
    </div>
</section>

<!-- SECTION FORUM -->
<section class="section-main">
    <div class="container">
        <div class="row">
            <!-- LEFT SIDE (posts)-->
            <div class="col-md-9 mt-3 py-3">
                <h2 class="">Palavras-chaves:</h2>
                <h4 class="px-3 mb-3" style="color: var(--black);"><%= searchTerm %></h4>
                <hr class="w-80">
                <!-- list with questions and info -->
                <div class="container">
                    <ul class="list-group mb-3">
                        <!-- check if there are discutions -->
                        <% if (discussions && discussions.length > 0) { %>
                            <% discussions.forEach(discussion => { %>
                                <li class="list-group-item forum-questions d-flex">
                                    <div class="forum-author-image p-2">
                                        <img src="<%= discussion.author_img %>" alt="">
                                    </div>
                                    <div class="forum-question p-2">
                                        <!-- link to the discussion details -->
                                        <a href="/forum/discussion/<%= discussion.slug %>">
                                            <h6><%= discussion.title %></h6>
                                        </a>
                                        <p class="small text-secondary">Por <strong><%= discussion.author_username %></strong>, <span class="comment-time"><%= discussion.created_at %></span>
                                        </p>
                                    </div>
                                    <div class="forum-category p-2">
                                        <a href="/forum/country/<%= discussion.country %>">
                                            <p class="text-secondary"><%= discussion.country %></p>
                                        </a>
                                    </div>
                                    <div class="forum-reactions p-2">
                                        <div class="forum-reaction text-body-secondary">
                                            <i class="fa-regular fa-thumbs-up like-icon"></i>
                                            <span class="mx-1">(<%= discussion.like_count %>)</span>
                                            <i class="fa-regular fa-thumbs-down dislike-icon"></i>
                                            <span class="mx-1">(<%= discussion.dislike_count %>)</span>
                                            <br>
                                            <i class="fa-regular fa-comment-dots"></i>
                                            <span class="mx-1">(<%= discussion.reply_count %>)</span>
                                            <i class="fa-regular fa-eye"></i>
                                            <span class="mx-1">(<%= discussion.view_count %>)</span>
                                        </div>
                                    </div>
                                </li>
                            <% }) %>
                        <% } else { %>
                            <p class="p-3">Nenhuma discussão aberta no fórum</p>
                        <% } %>
                    </ul>
                </div>
                <hr>
                <!-- posts results -->
                <div class="container">
                    <div class="blog-posts my-3">
                        <!-- check if there are results -->
                        <% if (posts && posts.length > 0) { %>
                            <!-- show results -->
                            <% posts.forEach(post => { %>
                                <h5 class="mb-3">Artigos no Blog:</h5>
                                <a href="/blog/post/<%= post.slug %>">
                                   <!-- card with posts -->
                                   <div class="card col-md-8 offset-md-2 col-lg-12 offset-lg-0 mb-3 card-custom">
                                       <div class="row g-0">
                                       <div class="col-md-12 col-lg-4">
                                           <!-- post image -->
                                           <img src="<%= post.img_background %>" class="img-fluid shadow rounded" alt="Foto de capa do artigo">
                                       </div>
                                           <div class="col-md-12 col-lg-8 card-container">
                                               <div class="card-body">
                                                   <!-- post category, title, intro -->
                                                   <h6 class="card-title card-category"><%= post.category_name %></h6>
                                                   <h5 class="card-text card-title-h5"><%= post.title %></h5>
                                                   <p class="card-text intro d-md-none d-lg-none d-xl-block "><%= post.intro %></p>
                                               </div>
                                               <hr class="mb-0">
                                               <div class="card-details text-center py-2">
                                                   
                                                   <!-- post date, author and read more -->
                                                   <div class="row">
                                                        <div class="col-4">
                                                            <p class="card-text"><small class="text-body-secondary">
                                                                <i class="fa-solid fa-pen-to-square fa-xl"></i> <strong>Marquinhos</strong></small>
                                                            </p>
                                                        </div>
                                                        <div class="col-4">
                                                            <% if (post.updated_at) { %>
                                                                <p class="card-text post-time">
                                                                    <small class="text-body-secondary">
                                                                        <i class="fa-solid fa-calendar-check fa-xl"></i>
                                                                        <span class="post-time"><%= post.updated_at %></span>
                                                                    </small>
                                                                </p>
                                                            <% } else { %>
                                                                <p class="card-text"><small class="text-body-secondary">
                                                                    <i class="fa-solid fa-calendar-check fa-xl"></i>  <%= post.created_at.toLocaleDateString('pt-BR') %></small>
                                                                </p>
                                                            <% } %>
                                                        </div>
                                                        <div class="col-4">
                                                            <button class="btn btn-custom btn-sm">
                                                                <i class="fa-solid fa-arrow-right-long"></i>
                                                            </button>
                                                        </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </a> 
                           <% }) %>  
                        <!-- else no results -->
                        <% } else { %>
                            <h5 class="mb-3">Artigos no Blog:</h5>
                            <p class="fw-bold mx-3 text-secondary">Nenhum artigo encontrado com essas palavras-chaves.</p>
                        <% } %>                        
                    </div>
                </div>
            </div>
            <!-- RIGHT SIDE (categories, subscribe, search and about)-->
            <div class="col-md-3 mt-3 py-3">
                <%- include('../main/side-bar.ejs') %>               
            </div>
        </div>
    </div>
</section>