<!-- SECTION HEADER -->
<section class="section-small-heading" style="background-image: url(/img/GOPR1432.JPG);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text"> Todos os posts sobre: <%= category.category %></h1>
    </div>
</section>

<!-- SECTION POST -->
<section class="section-post">
    <div class="container">
        <div class="row">
            <!-- LEFT SIDE (posts)-->
            <div class="col-md-9 mt-3 py-3">
                <!-- category -->
                <h2 class="">Posts relacionados:</h2>
                <!-- post details -->
                <div class="container">
                    <div class="blog-posts my-3">
                        <% posts.forEach(post => { %>
                            <a href="/blog/post/<%= post.slug %>">
                                <!-- card with posts -->
                                <div class="card mb-3">
                                    <div class="row g-0">
                                    <div class="col-md-4">
                                        <!-- post image -->
                                        <img src="<%= post.img_background %>" class="img-fluid shadow rounded" alt="Foto de capa do artigo">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <!-- post category, title, intro -->
                                        <h6 class="card-title"><%= post.category_name %></h6>
                                        <h5 class="card-text"><%= post.title %></h5>
                                        <p class="card-text intro"><%= post.intro %></p>
                                        </div>
                                        <div class="card-details py-3">
                                            <!-- post date, author and read more -->
                                            <div class="row text-center">
                                                <div class="col-4">
                                                    <p class="card-text"><small class="text-body-secondary">Por: <strong>Marquinhos</strong></small></p>
                                                </div>
                                                <div class="col-4">
                                                    <% if (post.updated_at) { %>
                                                        <p class="card-text"><small class="text-body-secondary"><%= post.updated_at.toLocaleDateString('pt-BR') %> </small></p>
                                                    <% } %>
                                                </div>
                                                <div class="col-4">
                                                    <button class="btn btn-custom">
                                                        <i class="fa-solid fa-arrow-right-long"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </a> 
                        <% }) %>  
                    </div>
                </div>
            </div>
            <!-- RIGHT SIDE (categories, subscribe, search and about)-->
            <div class="col-md-3 mt-3 py-3">
                <!-- categories -->
                <h2 class="section-title text-center">Outras categorias:</h2>
                <div class="categories my-3 py-3">
                    <ul class="list-group">
                        <% otherCategories.forEach(category => { %>
                            <a href="/blog/category/<%= category.id %>">
                                <li class="list-group-item"><%= category.category %></li>
                            </a>
                        <% }) %>
                    </ul>
                </div>
                <!-- search -->
                <h2 class="section-title text-center">Busca rápida:</h2>
                <div class="search my-3 py-3">
                    <form action="/search" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Busca rápida">
                            <button class="btn btn-light go-button" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- subscribe -->
                <h2 class="section-title text-center">Subscribe:</h2>
                <div class="subscribe my-3 py-3">
                    <form action="/blog/search" method="GET">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Your email...">
                            <button type="submit" class="btn btn-light go-button">
                                <i class="fa-regular fa-envelope"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <!-- about -->
                <h2 class="section-title text-center">Sobre:</h2>
                <div class="about my-3 py-3">
                    <img src="/img/marcus_1.jpg" class="img-fluid rounded mb-3" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus suscipit optio ad voluptatem ea amet, ex architecto est fuga fugiat?</p>
                </div>
            </div>
        </div>
    </div>
</section>