<!-- SECTION HEADER -->
<section class="section-small-heading" style="background-image: url(/img/IMG_8389.jpeg);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text"> Todos os posts sobre: <%= category.category %></h1>
    </div>
</section>

<!-- SECTION POST -->
<section class="section-post">
    <div class="container">
        <div class="row">
            <!-- LEFT SIDE (posts)-->
            <div class="col-md-9 mt-3 py-3">
                <!-- category -->
                <h2 class="">Posts relacionados:</h2>
                <!-- post details -->
                <div class="container">
                    <div class="blog-posts my-3">
                        <!-- check if there are results -->
                        <% if (posts && posts.length > 0) { %>
                            <!-- show results -->
                            <% posts.forEach(post => { %>
                                <a href="/blog/post/<%= post.slug %>">
                                   <!-- card with posts -->
                                   <div class="card col-md-8 offset-md-2 col-lg-12 offset-lg-0 mb-3 card-custom">
                                       <div class="row g-0">
                                       <div class="col-md-12 col-lg-4">
                                           <!-- post image -->
                                           <img src="<%= post.img_background %>" class="img-fluid shadow rounded" alt="Foto de capa do artigo">
                                       </div>
                                           <div class="col-md-12 col-lg-8 card-container">
                                               <div class="card-body">
                                                   <!-- post category, title, intro -->
                                                   <h6 class="card-title card-category"><%= post.category_name %></h6>
                                                   <h5 class="card-text card-title-h5"><%= post.title %></h5>
                                                   <p class="card-text intro d-md-none d-lg-none d-xl-block "><%= post.intro %></p>
                                               </div>
                                               <hr class="mb-0">
                                               <div class="card-details text-center py-2">
                                                   
                                                   <!-- post date, author and read more -->
                                                   <div class="row">
                                                        <div class="col-4">
                                                            <p class="card-text"><small class="text-body-secondary">
                                                                <i class="fa-solid fa-pen-to-square fa-xl"></i> <strong>Marquinhos</strong></small>
                                                            </p>
                                                        </div>
                                                        <div class="col-4">
                                                            <% if (post.updated_at) { %>
                                                                <p class="card-text post-time">
                                                                    <small class="text-body-secondary">
                                                                        <i class="fa-solid fa-calendar-check fa-xl"></i>
                                                                        <span class="post-time"><%= post.updated_at %></span>
                                                                    </small>
                                                                </p>
                                                            <% } else { %>
                                                                <p class="card-text"><small class="text-body-secondary">
                                                                    <i class="fa-solid fa-calendar-check fa-xl"></i>  <%= post.created_at.toLocaleDateString('pt-BR') %></small>
                                                                </p>
                                                            <% } %>
                                                        </div>
                                                        <div class="col-4">
                                                            <button class="btn btn-custom btn-sm">
                                                                <i class="fa-solid fa-arrow-right-long"></i>
                                                            </button>
                                                        </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </a> 
                           <% }) %>  
                        <!-- else no results -->
                        <% } else { %>
                            <p>Nenhum artigo encontrado nessa categoria.</p>
                        <% } %>                        
                    </div>
                </div>
            </div>
            <!-- RIGHT SIDE (categories, subscribe, search and about)-->
            <div class="col-md-3 mt-3 py-3">              
                <%- include('../main/side-bar.ejs') %> 
            </div>
        </div>
    </div>
</section>