<!-- SECTION HEADER -->
<section class="section-heading" style="background-image: url(<%= post.img_background %>);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text"><%= post.title %></h1>
    </div>
</section>

<!-- SECTION POST -->
<section class="section-post">
    <div class="container">
        <div class="row">
            <!-- LEFT SIDE (posts)-->
            <div class="col-md-9 mt-3 py-3">
                <!-- post intro -->
                <h4 class=""><%= post.intro %></h4>
                <!-- post details -->
                <div class="container">
                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <p class=""><small class=""><i class="fa-solid fa-pen-to-square fa-xl"></i> <strong><%= post.author_username %></strong></small></p>
                        </div>
                        <div class="col-4">
                            <p class="small"> <i class="fa-solid fa-calendar-check fa-xl"></i>  <%= post.created_at.toLocaleDateString('pt-BR'); %> <br>
                               <% if (post.updated_at) { %>
                                <span>Atualizado: <%= post.updated_at.toLocaleDateString('pt-BR') %> </span>
                               <% } %>
                            </p>
                        </div>
                        <div class="col-4 share-icons-container">
                            <!-- WhatsApp -->
                            <a class="share-icons" href="https://api.whatsapp.com/send?text=<%= encodeURIComponent('Olha esse artigo: ' + req.protocol + '://' + req.get('host') + req.originalUrl) %>" target="_blank">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <!-- Twitter -->
                            <a class="share-icons" href="https://twitter.com/intent/tweet?url=<%= encodeURIComponent(req.protocol + '://' + req.get('host') + req.originalUrl) %>&text=<%= encodeURIComponent('Olha esse artigo:') %>" target="_blank">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-x-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <!-- Facebook -->
                            <a class="share-icons" href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent(req.protocol + '://' + req.get('host') + req.originalUrl) %>" target="_blank">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <hr>
                <!-- post content -->
                <div class="post-content my-3 px-3">
                    <p><%- post.content %></p>                
                </div>
            </div>
            <!-- RIGHT SIDE (categories, subscribe, search and about)-->
            <div class="col-md-3 mt-3 py-3">
                <!-- categories -->
                <h2 class="section-title text-center">Categorias:</h2>
                <div class="categories my-3 py-3">
                    <ul class="list-group shadow">
                        <% categories.forEach(category => { %>
                            <a href="/blog/category/<%= category.id %>">
                                <li class="list-group-item"><%= category.category %></li>
                            </a>
                        <% }) %>
                    </ul>
                </div>
                <hr class="w-80">
                <!-- search -->
                <h2 class="section-title text-center">Busca rápida:</h2>
                <div class="search my-3 py-3">
                    <form action="/blog/search" class="shadow rounded" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Busca rápida">
                            <button class="btn btn-light go-button" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <hr class="w-80">
                <!-- subscribe -->
                <h2 class="section-title text-center">Subscribe:</h2>
                <div class="subscribe my-3 py-3">
                    <!-- success message -->
                    <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
                        <span id="success-message"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <!-- error message -->
                    <div id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                        <span id="error-message"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <!-- form -->
                    <form id="subscribeForm" action="/user/subscribe" method="POST" class="shadow rounded">
                        <div class="input-group">                            
                            <input type="email" name="email" class="form-control" placeholder="Se inscreva aqui">
                            <button type="submit" class="btn btn-light go-button">
                                <i class="fa-regular fa-envelope"></i>
                            </button>
                        </div>
                        <!-- hidden input for the URL -->
                        <input type="hidden" name="redirect" value="<%= req.originalUrl %>">
                    </form>
                </div>
                <hr class="w-80">
                <!-- about -->
                <h2 class="section-title text-center">Sobre:</h2>
                <div class="about my-3 py-3">
                    <img src="/img/marcus_1.jpg" class="img-fluid rounded shadow mb-3" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus suscipit optio ad voluptatem ea amet, ex architecto est fuga fugiat?</p>
                </div>
            </div>
        </div>
    </div>
</section>