<!-- SECTION HEADER -->
<section class="section-heading" style="background-image: url(<%= post.img_background %>);">
    <!-- text on landing page -->
    <div class="landing-page">
        <h1 class="index-text"><%= post.title %></h1>
    </div>
</section>

<!-- SECTION POST -->
<section class="section-post">
    <div class="container">
        <div class="row">
            <!-- LEFT SIDE (posts)-->
            <div class="col-md-9 mt-3 py-3">
                <!-- post intro -->
                <h4 class="text-secondary"><%= post.intro %></h4>
                <!-- post details -->
                <div class="container">
                    <div class="row text-center mt-4">
                        <div class="col-4">
                            <p class=""><small class=""><i class="fa-solid fa-pen-to-square fa-xl"></i> <strong><%= post.author_username %></strong></small></p>
                        </div>
                        <div class="col-4">
                            <p class="small"> <i class="fa-solid fa-calendar-check fa-xl"></i>  <%= post.created_at.toLocaleDateString('pt-BR'); %> <br><br>
                               <% if (post.updated_at) { %>
                                <span>Atualizado: <span class="post-time"><%= post.updated_at %></span></span>
                               <% } %>
                            </p>
                        </div>
                        <div class="col-4 share-icons-container">
                            <!-- WhatsApp -->
                            <a class="share-icons" href="https://api.whatsapp.com/send?text=<%= encodeURIComponent('Olha esse artigo: ' + req.protocol + '://' + req.get('host') + req.originalUrl) %>" target="_blank">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <!-- Twitter -->
                            <a class="share-icons" href="https://twitter.com/intent/tweet?url=<%= encodeURIComponent(req.protocol + '://' + req.get('host') + req.originalUrl) %>&text=<%= encodeURIComponent('Olha esse artigo:') %>" target="_blank">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-x-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                            <!-- Facebook -->
                            <a class="share-icons" href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent(req.protocol + '://' + req.get('host') + req.originalUrl) %>" target="_blank">
                                <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>

                <hr>
                <!-- post content -->
                <div class="post-content my-2 px-2 py-2">
                    <p><%- post.content %></p>                
                </div>
                <!-- related posts -->
                <div class="related-posts my-4 mx-3 px-3 py-2 border rounded shadow">
                    <h6 style="color: var(--orange);">Leia também:</h6>
                    <blockquote class="blockquote">
                        <a href="#">
                            <p style="color: var(--mid-blue);">A well-known quote, contained in a blockquote element.</p>
                        </a>
                      </blockquote>
                </div>
                <!-- post content 2 -->
                <div class="post-content2 my-2 px-2 py-2">
                    <p><%- post.content2 %></p>
                </div>
                <hr>
                <% if (!user) { %>
                <!-- login or sign up to comment -->
                <div class="container my-3">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">                            
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <strong>Atenção!</strong> Você precisa estar logado para comentar/responder. <a href="/user/login"><strong>Clique aqui</strong></a> para fazer login ou <a href="/user/signup"><strong>Clique aqui</strong></a> para se cadastrar.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>                           
                        </div>
                    </div>
                </div>
                <% } else { %>
                <!-- comments form -->
                <div class="comments-form my-3">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <!-- message if error -->
                            <% if (messages.error) { %>
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <strong>Ups!</strong> <%= messages.error %>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            <% } %>
                            <!-- comments form -->
                            <form id="commentForm" class="bg-light border rounded px-4 py-2">
                                <h4 class="section-title text-center py-3">Deixe um comentário</h4>
                                <!-- comment -->
                                <div class="form-floating mb-3 position-relative">
                                    <textarea name="comment" class="form-control" id="commentInput" placeholder="Deixe o seu comentário aqui *" style="height: 80px" ></textarea>
                                    <label for="commentInput">Deixe o seu comentário aqui *</label>
                                </div>
                                <!-- hidden input for the post ID -->
                                <input type="hidden" name="postId" value="<%= post.id %>">
                                <!-- hidden input for the URL -->
                                <input type="hidden" name="slug" value="<%= post.slug %>">
                                <!-- submit button -->
                                <div class="submit-button text-center mb-3">
                                    <button type="submit" class="btn btn-custom">Enviar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
                <% } %>

                <!-- comments -->
                <% if (comments && comments.length > 0) { %>
                <div class="container my-3">
                    <div class="row d-flex justify-content-center">
                        <div class="container">
                            <h4 class="text-center index-sections pb-3">Todos os comentários:</h4>
                            <div class="card">
                                <div class="card-body p-4">                    
                                    <div class="row">
                                        <div class="col">
                                            <% comments.forEach(comment => { %>
                                            <!-- card with comments -->
                                            <div class="d-flex flex-start comments-container">
                                                <!-- author photo -->
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                    src="<%= comment.author_img %>" 
                                                    alt="avatar" 
                                                    width="65"
                                                    height="65" 
                                                />
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    <div>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <div>
                                                                <!-- author -->
                                                                <span class="mb-1 author">
                                                                    <%= comment.author %>
                                                                </span>
                                                                <!-- date -->
                                                                <span class="small d-block comment-time text-secondary"><%= comment.created_at %></span>
                                                            </div>
                                                            <!-- delete comment button -->
                                                            <% if (user && comment.author_id === user.id) { %>
                                                                <!-- delete comment button -->
                                                                <a href="#" class="btn btn-link text-danger delete-comment" data-comment-id="<%= comment.id %>"> Delete </a>
                                                            <% } %>
                                                        </div>
                                                        <!-- comment -->
                                                        <p class="small my-2">
                                                        <%= comment.comment %>
                                                        </p>
                                                        <!-- like and dislike buttons
                                                        <div class="d-flex justify-content-start align-items-center mt-2">
                                                           
                                                            <div class="like p-2 cursor">
                                                                <button type="button" class="btn btn-link like-comment-button" data-comment-id="<%= comment.id %>" data-post-id="<%= post.id %>">
                                                                    <i class="fa fa-thumbs-up like-icon"></i>
                                                                </button>                                                                
                                                                <span class="ml-1 total-comment-likes"></span>
                                                            </div>
                                                            <div class="like p-2 cursor">
                                                                <button type="button" class="btn btn-link dislike-comment-button" data-comment-id="<%= comment.id %>" data-post-id="<%= post.id %>">
                                                                    <i class="fa fa-thumbs-down dislike-icon"></i>
                                                                </button>                                                                
                                                                <span class="ml-1 total-comment-dislikes"></span>
                                                            </div>
                                                        </div>-->
                                                    </div>
                                                    <!-- Replies -->                                                    
                                                    <% comment.replies.forEach(reply => { %>
                                                        <div class="d-flex flex-start mt-4">
                                                            <a class="me-3" href="#">
                                                                <!-- author photo -->
                                                            <img class="rounded-circle shadow-1-strong"
                                                                src="<%= reply.author_img %>" alt="avatar"
                                                                width="65" height="65" />
                                                            </a>
                                                            <!-- reply -->
                                                            <div class="flex-grow-1 flex-shrink-1">
                                                                <div>
                                                                    <div class="d-flex justify-content-between align-items-center">
                                                                        <div>
                                                                            <!-- author -->
                                                                            <span class="mb-1 author">
                                                                                <%= reply.author %>
                                                                            </span>
                                                                            <!-- date -->
                                                                            <span class="small d-block comment-time text-secondary"><%= reply.created_at %></span>
                                                                        </div>
                                                                        <!-- delete comment button -->
                                                                        <% if (user && reply.author_id === user.id) { %>
                                                                            <!-- delete comment button -->
                                                                            <a href="#" class="btn btn-link text-danger delete-reply" data-reply-id="<%= reply.id %>"> Delete </a>
                                                                        <% } %>
                                                                        </div>
                                                                    <!-- comment -->
                                                                    <p class="small my-2">
                                                                        <%= reply.reply %>
                                                                    </p>
                                                                    <!-- like and dislike buttons -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <% }) %>               
                                                    <!-- Reply textarea and submit button -->
                                                    <% if (user) { %>
                                                    <div class="mt-3 position-relative">
                                                        <form id="replyForm">
                                                            <!-- hidden input for the comment ID -->
                                                            <input type="hidden" name="commentId" value="<%= comment.id %>">
                                                            <!-- reply text area -->
                                                            <textarea class="form-control reply-textarea" name="reply" rows="2" placeholder="Responda aqui..."></textarea>
                                                            <button class="btn btn-custom comment-button btn-sm mt-2 float-end" type="submit">Enviar</button>
                                                        </form>
                                                    </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <hr>
                                            <% }) %>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <% } %>
            </div>
            <!-- RIGHT SIDE (categories, subscribe, search and about)-->
            <div class="col-md-3 mt-3 py-3">
                <!-- categories -->
                <h2 class="section-title text-center">Categorias:</h2>
                <div class="categories my-3 py-3">
                    <ul class="list-group shadow">
                        <% categories.forEach(category => { %>
                            <a href="/blog/category/<%= category.id %>">
                                <li class="list-group-item"><%= category.category %></li>
                            </a>
                        <% }) %>
                    </ul>
                </div>
                <hr class="w-80">
                <!-- search -->
                <h2 class="section-title text-center">Busca rápida:</h2>
                <div class="search my-3 py-3">
                    <form action="/blog/search" class="shadow rounded" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Busca rápida">
                            <button class="btn btn-light go-button" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <hr class="w-80">
                <!-- subscribe -->
                <h2 class="section-title text-center">Subscribe:</h2>
                <div class="subscribe my-3 py-3">
                    <!-- success message -->
                    <div id="success-alert" class="alert alert-success alert-dismissible fade show" role="alert" style="display: none;">
                        <span id="success-message"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <!-- error message -->
                    <div id="error-alert" class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                        <span id="error-message"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <!-- form -->
                    <form id="subscribeForm" action="/user/subscribe" method="POST" class="shadow rounded">
                        <div class="input-group">                            
                            <input type="email" name="email" class="form-control" placeholder="Se inscreva aqui">
                            <button type="submit" class="btn btn-light go-button">
                                <i class="fa-regular fa-envelope"></i>
                            </button>
                        </div>
                        <!-- hidden input for the URL -->
                        <input type="hidden" name="redirect" value="<%= req.originalUrl %>">
                    </form>
                </div>
                <hr class="w-80">
                <!-- about -->
                <h2 class="section-title text-center">Sobre:</h2>
                <div class="about my-3 py-3">
                    <img src="/img/marcus_1.jpg" class="img-fluid rounded shadow mb-3" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus suscipit optio ad voluptatem ea amet, ex architecto est fuga fugiat?</p>
                </div>
            </div>
        </div>
    </div>
</section>